body {
    background: radial-gradient(circle at center, rgb(116, 146, 192), rgb(85, 102, 124));
    color: white;
}

.groovy {
    font-weight: bold;
    font-style: italic;
}

#loginTitleText{
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

#loginDivText{
    color: rgb(233, 233, 105);
    font-weight: bolder;
}

.blink_me {
    animation: blinker 4s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}